#agenda
  %h1 Agenda
  %div.day
    %h2 Ruby Fun Day - Domingo 6 de noviembre de 2011
    %p 
      Ruby Fun Day será un evento de día completo, exclusivo para quienes estén registrados para 
      RubyConf Argentina. Habrá tutoriales, talleres y mucha diversión!
    %p=link_to("Más información...", "/#{language}/rubyfunday")
  %div.day
    %h2 Dia 1 - Martes 8 de noviembre de 2011
    %table
      %tr.breakfast
        %td 08:00
        %td{:colspan => "2"} Acreditaciones y Desayuno
      %tr.welcome
        %td 09:00
        %td{:colspan => "2"} Bienvenida a RubyConf Argentina 2011!
      %tr
        %td 09:20
        %td Shugo Maeda
        %td Pasado presente y futuro de Ruby
      %tr.break
        %td 10:00 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 10:30
        %td Matt Aimonetti
        %td Inside Ruby: concurrency & garbage collection explained.
      %tr.break
        %td 11:10
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 11:40
        %td Koichiro Eto
        %td La manera atemporal del desarrollo de software
      %tr.break
        %td 12:10 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 12:40
        %td Luis Lavena
        %td Tirando Ruby por la ventana
      %tr.lunch
        %td 13:20
        %td{:colspan => "2"} Almuerzo
      %tr
        %td 14:50
        %td Alex Coles
        %td El rubyista silencioso y versátil
      %tr.break
        %td 15:20 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 15:50
        %td Pedro Belo
        %td Lo que todo programador debe saber sobre sistemas distribuidos - Lecciones aprendidas en Heroku
      %tr.break
        %td 16:20 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 16:50
        %td Federico Brubacher
        %td Como convertirse en un data scientist con Ruby
      %tr.break
        %td 17:20
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 17:50
        %td Patrick Huesler
        %td Monitoreo con Syslog y EventMachine
      %tr.break
        %td 18:20
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 18:50
        %td Scott Chacon
        %td Un cuento de tres árboles
      %tr.drinkup
        %td 20:00
        %td{:colspan => "2"} Drink Up Github

  %div.day
    %h2 Dia 2 - Miercoles 9 de noviembre de 2011
    %table
      %tr.breakfast
        %td 08:00
        %td{:colspan => "2"} Acreditaciones y Desayuno
      %tr
        %td 09:00
        %td Aaron Patterson
        %td Quién hace el mejor asado?
      %tr.break
        %td 09:40
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 10:10
        %td Konstantin Haase
        %td Más allá de Ruby
      %tr.break
        %td 10:50
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 11:20
        %td Patrick Collison
        %td Goat: Un framework en tiempo real
      %tr.break
        %td 11:50 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 12:20
        %td Norman Clarke
        %td "Volver al Futuro" con SQL y stored procedures
      %tr.lunch
        %td 13:00
        %td{:colspan => "2"} Almuerzo
      %tr.lighting-talks
        %td 14:30
        %td{:colspan => "2"} Lighting Talks
      %tr.break
        %td 15:00 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 15:30
        %td Nicolás Sanguinetti
        %td Testing: Es una pésima idea!
      %tr.break
        %td 16:00 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 16:30
        %td Sean Cribbs
        %td Adoptando NoSQL y consistencia eventual con Ripple
      %tr.break
        %td 17:00
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 17:30
        %td Narihiro Nakamura
        %td Los mundos paralelos del GC de CRuby
      %tr.break
        %td 18:10
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 18:40
        %td Tom Preston-Werner
        %td Optimizando para la felicidad
      %tr.closure
        %td 19:20
        %td{:colspan => "2"} Cierre de RubyConf Argentina 2011
      %tr.drinkup
        %td 20:00
        %td{:colspan => "2"} Drink Up Business Vision
