#agenda
  %h1 Agenda
  %div.day
    %h2 Ruby Fun Day - Sunday November 6th, 2011
    %p Ruby Fun Day will be a one day event, exclusive for those registered for the RubyConf Argentina. 
    %p There will be tutorials, workshops and lot of fun!
    %p=link_to("Read more...", "/#{language}/rubyfunday")
  %div.day
    %h2 Day 1 - Tuesday November 8th, 2011
    %table
      %tr.breakfast
        %td 08:00
        %td{:colspan => "2"} Check-in and Breakfast
      %tr.welcome
        %td 09:00
        %td{:colspan => "2"} Welcome to RubyConf Argentina 2011!
      %tr
        %td 09:20
        %td Yutaka Hara 
        %td Ruby's past, present, and future
      %tr.break
        %td 10:00 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 10:30
        %td Matt Aimonetti
        %td Inside Ruby: concurrency & garbage collection explained.
      %tr.break
        %td 11:10
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 11:40
        %td Koichiro Eto
        %td The Timeless Way of Software Development
      %tr.break
        %td 12:10 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 12:40
        %td Luis Lavena
        %td Throwing Ruby out the window
      %tr.lunch
        %td 13:20
        %td{:colspan => "2"} Lunch
      %tr
        %td 14:50
        %td Alex Coles
        %td The quiet and versatile Rubyist
      %tr.break
        %td 15:20 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 15:50
        %td Pedro Belo
        %td What every programmer should know about distributed systems - lessons learned at Heroku
      %tr.break
        %td 16:20 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 16:50
        %td Federico Brubacher
        %td How to become a data scientist with Ruby
      %tr.break
        %td 17:20
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 17:50
        %td Patrick Huesler
        %td Monitoring with Syslog and EventMachine
      %tr
        %td 18:20
        %td Scott Chacon
        %td A Tale of Three Trees
      %tr.drinkup
        %td 20:00
        %td{:colspan => "2"} Drink Up Github

  %div.day
    %h2 Day 2 - Wednesday November 9th, 2011
    %table
      %tr.breakfast
        %td 08:00
        %td{:colspan => "2"} Check-in and Breakfast
      %tr
        %td 09:00
        %td Blake Mizerany 
        %td TBA 
      %tr.break
        %td 09:40
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 10:10
        %td Konstantin Haase
        %td Beyond Ruby
      %tr.break
        %td 10:50
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 11:20
        %td Norman Clarke
        %td "Back to the future" with SQL and stored procedure
      %tr.break
        %td 11:50 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 12:20
        %td Aaron Patterson 
        %td Who makes the best Asado?  
      %tr.lunch
        %td 13:00
        %td{:colspan => "2"} Lunch
      %tr.lighting-talks
        %td 14:30
        %td{:colspan => "2"} Lighting Talks
      %tr.break
        %td 15:00 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 15:30
        %td Nicolás Sanguinetti
        %td Testing: It's a horrible idea!
      %tr.break
        %td 16:00 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 16:30
        %td Sean Cribbs
        %td Embrace NoSQL and Eventual Consistency with Ripple
      %tr.break
        %td 17:00
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 17:30
        %td Narihiro Nakamura
        %td Parallel worlds of CRuby's GC
      %tr.break
        %td 18:10
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 18:40
        %td Tom Preston-Werner
        %td Optimizing for happiness
      %tr.closure
        %td 19:20
        %td{:colspan => "2"} RubyConf Argentina 2011 Closure
      %tr.drinkup
        %td 20:00
        %td{:colspan => "2"} Drink Up Business Vision
