#agenda
  %h1 Agenda
  %div.day
    %h2 Ruby Fun Day - Domingo 6 de noviembre de 2011
    %p 
      Ruby Fun Day será un evento de día completo, exclusivo para quienes estén registrados para 
      RubyConf Argentina. Habrá tutoriales, talleres y mucha diversión!
    %p=link_to("Más información...", "/#{language}/rubyfunday")
  %div.day
    %h2 Dia 1 - Martes 8 de noviembre de 2011
    %table
      %tr.breakfast
        %td 08:00
        %td{:colspan => "2"} Acreditaciones y Desayuno
      %tr.welcome
        %td 09:00
        %td{:colspan => "2"} Bienvenida a RubyConf Argentina 2011!
      %tr
        %td 09:20
        %td Yutaka Hara
        %td Pasado presente y futuro de Ruby
      %tr.break
        %td 10:00 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 10:30
        %td Matt Aimonetti
        %td Inside Ruby: concurrency & garbage collection explained.
      %tr.break
        %td 11:10
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 11:40
        %td Koichiro Eto
        %td La manera atemporal del desarrollo de software
      %tr.break
        %td 12:10 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 12:40
        %td Luis Lavena
        %td Tirando Ruby por la ventana
      %tr.lunch
        %td 13:20
        %td{:colspan => "2"} Almuerzo
      %tr
        %td 14:50
        %td Alex Coles
        %td El rubyista silencioso y versátil
      %tr.break
        %td 15:20 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 15:50
        %td Pedro Belo
        %td Lo que todo programador debe saber sobre sistemas distribuidos - Lecciones aprendidas en Heroku
      %tr.break
        %td 16:20 
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 16:50
        %td Federico Brubacher
        %td Como convertirse en un data scientist con Ruby
      %tr.break
        %td 17:20
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 17:50
        %td Patrick Huesler
        %td Monitoreo con Syslog y EventMachine
      %tr.drinkup
        %td 20:00
        %td{:colspan => "2"} Drink Up Github

  %div.day
    %h2 Day 2 - Wednesday November 9th, 2011
    %table
      %tr.breakfast
        %td 08:00
        %td{:colspan => "2"} Check-in and Breakfast
      %tr
        %td 09:40
        %td Konstantin Haase
        %td Beyond Ruby
      %tr
        %td 10:20
        %td Norman Clarke
        %td "Back to the future" with SQL and stored procedure
      %tr.break
        %td 11:00
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 11:30
        %td Nicolás Sanguinetti
        %td Testing: It's a horrible idea!
      %tr
        %td 12:00
        %td Aaron Patterson 
        %td Who makes the best Asado?  
      %tr.lighting-talks
        %td 12:40
        %td{:colspan => "2"} Lighting Talks
      %tr.lunch
        %td 13:10
        %td{:colspan => "2"} Lunch
      %tr
        %td 14:40
        %td Blake Mizerany
        %td On Distributed Failure 
      %tr
        %td 15:10
        %td Sean Cribbs
        %td Embrace NoSQL and Eventual Consistency with Ripple
      %tr.break
        %td 15:40
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 16:10
        %td Scott Chacon
        %td A Tale of Three Trees
      %tr
        %td 16:50
        %td Narihiro Nakamura
        %td Parallel worlds of CRuby's GC
      %tr.break
        %td 17:30
        %td{:colspan => "2"} Coffee Break
      %tr
        %td 18:00
        %td Tom Preston-Werner
        %td Optimizing for happiness
      %tr.closure
        %td 18:40
        %td{:colspan => "2"} RubyConf Argentina 2011 Closure
      %tr.drinkup
        %td 20:00
        %td{:colspan => "2"} Drink Up Business Vision
