-# coding: utf-8
#drinkups
  
  %h1 DrinkUp

  #day1
    %h2 DIA 1 - 8 / 11 / 2011

    %h3 github
    
    %p
      %strong Dirección: TBA
      %strong 20hs

  #day2

    %h2 DIA 2 - 9 / 11 / 2011

    %h3 Business Vision
    
    %p
      %strong Dirección: TBA
      %strong 20hs