-# coding: utf-8
#drinkups

  %h1 DrinkUps

  #day1
    %h2 DIA 1 - 8 / 11 / 2011

    %h3 
      github - RioCafe 
    %p
      %strong http://www.riocafe.com.ar/index.html
    %p
      %strong Dirección: TBA
    %p
      %strong 20hs

      = erb(:drinkup1)
  #day2

    %h2 DIA 2 - 9 / 11 / 2011

    %h3 Business Vision

    %p
      %strong Dirección: TBA
      %strong 20hs
      = erb(:drinkup2)
