#event_wrapper
  
  %h1 RubyConf Argentina 2011
  %ul#event
    %li#the_event
      %h2 The Event
      %img{:src => '/images/event_the_event.png', :alt => 'The Event'}
      %p RubyConf Argentina 2011 is a two-day event coming to Buenos Aires the 8th and 9th of November, focused on Ruby and modern web technologies related to the Ruby programming language.

      %p The program is designed to cover the interests of a wide spectrum of programmers, from the new developer who is interested in learning Ruby for the first time to the long-time Ruby expert. The event is designed to open a dialogue between developers in Argentina and the rest of the world.

      %p What's more, you'll have the opportunity to enjoy talks from Rubyistas, Rails developers, and other modern technologies and languages, including mobile technologies.
      
    %li#why_ruby
      %h2 Why Ruby?
      %img{:src => '/images/event_why_ruby.png', :alt => 'Ruby'}
      %p Ruby is a dynamic, open source, language focused on simplicity and productivity. It possesses an elegant syntax, reads in a natural way, and is easy to write without sacrificing powerful language features. Come to learn more about the technology that is changing the face of software development!
      
    %li#rails
      %div
        %h2 What is Ruby On Rails?
        %p Ruby on Rails is an open source web framework, optimized to make the software developers life easier and boost their productivity. Web development has become easier thanks to the philosophy of "convention over configuration", which by making choices about the basic configuration of a website, saves the developer from building everything 'from scratch'. During the conference you will have the opportunity to learn much more about the power of Riding The Rails.

    %li#the_venue
      %h2 The Venue
      %img{:src => '/images/event_konex.png', :alt => 'Cuidad Cultural Konex'} 
      %p The conference is being held at the "Cuidad Cultural Konex", Sarmiento 3131, C1196AAG, Buenos Aires.

      %p With a unique architecture and a building that was constructed during the 1920's and used as a manufacturing and storage center for oil until 1992, years later the space was transformed. The Clorindo Testa and Associates Studio was commissioned to transform the old oil factory into an original cultural space while maintaining the architectural details that make the space unique.

      %p Today the cultural center occupies the majority of the original space and allows the original space to coexist with a new artistic purpose, with the common goal of providing cultural enrichment and a space for artistic community.
      
    %li#the_city
      %div
        %h2 The City
        %p 
          Buenos Aires is a singularly unique destination, open, inviting; simultaneously familiar and unique. It's a place that allows the visitor the chance to view a beautiful city and to live an exceptional urban adventure at the same time. For more information, visit the City of Buenos Aires information site:
          = link_to "www.bue.gov.ar", "http://www.bue.gov.ar"
        %p
          Couchsurfing wiki in Buenos Aires, with a details on BA for visitors
          = link_to 'wiki.couchsurfing.org/en/Buenos_Aires', 'http://wiki.couchsurfing.org/en/Buenos_Aires'

        %p Thanks for your interest in RubyConf Argentina 2011! "Nos vemos" in November!!