#event
  
  %h1 RubyConf Argentina 2011

  %h2 El Evento
  %p RubyConf Argentina 2011 es un evento de dos d&iacute;as que se llevar&aacute; a cabo el 8 y 9 de Noviembre en Buenos Aires. Ser&aacute; una conferencia t&eacute;cnica dirigida a programadores interesados en el mundo del desarrollo web y tecnolog&iacute;as modernas.

  %p El programa estar&aacute; pensado para cubrir las expectativas de un amplio espectro de programadores, desde el novato en Ruby hasta expertos y profesionales en busca de intercambiar sus conocimientos. El evento abrir&aacute; un canal de comunicaci&oacute;n para que desarrolladores Argentinos y de todas partes del mundo podamos intercambiar ideas.

  %p Adem&aacute;s de disfrutar de nuestra agenda de dos d&iacute;as de charlas, tendr&aacute;s la oportunidad de conocer rubyistas, desarrolladores Rails y entusiastas de todo tipo de tecnolog&iacute;as modernas.

  %h2 ¿POR QUE RUBY?

  %p Ruby es un lenguaje din&aacute;mico, open source, cuyos principales objetivos son la simplicidad y la productividad. Posee una sintaxis elegante que se lee en forma natural y es f&aacute;cil de escribir. Ven&iacute; a aprender mas acerca de la tecnolog&iacute;a que esta cambiando la cara del desarrollo de software!

  %h2 ¿QUE ES RUBY ON RAILS?

  %p Ruby on Rails es un framework web open-source, optimizado para hacer la vida del desarrollador mas f&aacute;cil y aumentar su productividad. El desarrollo se vuelve mas sucinto gracias a la filosof&iacute;a "convention over configuration". Durante la conferencia tendr&aacute;s la oportunidad de aprender m&aacute;s acerca de Rails.

  %h2 EL LUGAR

  %p
    %img{:src => "/images/venue/konex.jpg"} 
    La conferencia se llevara a cabo en la Ciudad Cultural Konex, Sarmiento 3131, C1196AAG, Buenos Aires.
    


  %p Con su especial arquitectura el edificio fue construido en la d&eacute;cada de 1920 y utilizado como f&aacute;brica y dep&oacute;sito de aceites hasta el a&ntilde;o 1992. A&ntilde;os m&aacute;s tarde fue adquirido con el fin de crear la Ciudad Cultural Konex y convertirlo en un referente de la actividad cultural de nuestro pa&iacute;s. El Estudio Clorindo Testa y Asociados fue el encargado de transformar la vieja aceitera en un original espacio cultural manteniendo intactos los detalles arquitect&oacute;nicos de la &eacute;poca.

  %p Hoy en d&iacute;a el complejo ocupa gran parte de la superficie del antiguo predio con una refuncionalizaci&oacute;n de sus instalaciones en donde conviven y se interrelacionan todo tipo de expresiones art&iacute;sticas con el objetivo com&uacute;n de aportar un enriquecimiento cultural y art&iacute;stico a la comunidad.

  %h2 LA CIUDAD

  %p 
    Buenos Aires es un destino singular, abierto, que integra y permite a quien la visita no s&oacute;lo contemplar una ciudad sino vivir una experiencia urbana excepcional. Para mas informaci&oacute;n, podes acceder a la pagina de turismo del gobierno de la ciudad, 
    = link_to "http://www.bue.gov.ar/", "http://www.bue.gov.ar/"
    \. 
    %br
    La wiki de couchsurfing Buenos Aires tambi&eacute;n incluye muchos sitios de inter&eacute;s para visitar 
    = link_to 'http://wiki.couchsurfing.org/en/Buenos_Aires', 'http://wiki.couchsurfing.org/en/Buenos_Aires'
    \.

  %p ¡Muchas gracias por tu inter&eacute;s en RubyConf Argentina 2011! ¡Nos vemos en Noviembre!