#footer_content
  = link_to 'Ruby Argentina', "http://ruby.com.ar", :target => 'blank'
  \- 
  %a{:href => "http://www.twitter.com/RubyConfAr", :target => "_blank", :title => "Follow us on Twitter"}
    .twitter_icon
  = twitter
  \-
  %a{:href => "https://github.com/lucasefe/rubyconfar-website", :target => "_blank", :title => "Source Code"}
    .github_icon
  = link_to 'Source Code', "https://github.com/lucasefe/rubyconfar-website", :target => 'blank'
  \- 
  = link_to 'Design by Sz Studios', "http://www.SzStudios.com.ar", :target => 'blank'