#header
  #when_and_where
  %a{:href => "/#{language}", :title => "RubyConf Argentina 2011 Homepage"}
    #logo_linking_home
    #fist
  #languages
    - LANGUAGES.each do |lang, title|
      = link_to(current_path(:lang => lang), nil, {:title => title}) do
        %div{:id => lang, :class => (language == lang ? "current" : "")}
        
    
  #social
    %a{:href => "https://github.com/lucasefe/rubyconfar-website", :target => "_blank", :title => "Source Code"}
      .github_icon
    %a{:href => "http://www.twitter.com/RubyConfAr", :target => "_blank", :title => "Follow us on Twitter"}
      .twitter_icon
    %img{:alt => "2011", :src => "/images/dc.jpg"}