#home
  #left_col
    %h1
      The largest event in the Ruby Community in the Spanish speaking world. 
    %h2
      Ruby, Rails, Mobile Apps and Agile Methodologies. 
  #right_col
    #in-the-loop
      %span.keep KEEP ME
      %span.posted POSTED!
    = partial :registration_form, :skip_translation => true