#home
  #left_col
    %h1
      The largest event in the Ruby Community in the Spanish speaking world. 
    %h2
      Ruby, Rails, aplicaciones moviles y metodologias agiles.

    %p 
      Muy pronto más información disponible. 

    %p 
      Seguinos en 
      = twitter 'Twitter'
      para informarte lo antes posible!
  #right_col
    #where
      %h1 RubyConf 2011
      %h2 
        Nov 8
        %span.dot -
        9
      %h3
        Centro Cultural Konex
      %h4
        Buenos Aires, Argentina

    #in-the-loop
      %img{:alt => "Keep me posted", :src => "/images/keep_me_posted.png"}
    
    = partial :registration_form, :skip_translation => true

    .clear
    = partial :sponsors_box, :skip_translation => true
      
    

