#home
  #left_col
    %h1
      The largest event in the Ruby Community in the Spanish speaking world. 
    %h2
      Ruby, Rails, Mobile Apps and Agile Methodologies. 

    %p 
      More information will be available soon.

    %p 
      Follow us on 
      = twitter 'Twitter'
      to be notified as soon as possible. 
  #right_col
    #where
      %h1
        %img{:alt => "RubyConf 2011", :src => "/images/rubyconf2011.png"}
      %h2 
        Nov 8
        %span.dot •
        9
      %h3
        %img{:alt => "Centro Cultural Konex | Buenos Aires, Argentina", :src => "/images/cckonex_bsas_argentina.png"}

    = partial :registration_box, :skip_translation => true
    = partial :sponsors_box, :skip_translation => true