#home
  #left_col
    %h1
      The largest event in the Ruby Community in the Spanish speaking world. 
    %h2
      Ruby, Rails, Mobile Apps and Agile Methodologies. 
  #right_col
    #where
      %h1 RubyConf 2011
      %h2 
        Nov 8
        %span.dot -
        9
      %h3
        Centro Cultural Konex
      %h4
        Buenos Aires, Argentina

    #in-the-loop
      %span.keep KEEP ME
      %span.posted POSTED!

    = partial :registration_form, :skip_translation => true

    #sponsors
      %h1 Sponsors
      
      #list  
        #urban-station
          = link_to 'http://argentina.enjoyurbanstation.com/es/', nil, {:target => 'blank'} do
            %img{:src => '/images/sponsors/urban-station.png'}
        