#now
  #talks 
  / #talks
  /   - if @now
  /     .talk
  /       %h1 Ahora mismo
  /       %h2
  /         = @now.title_en
  /       %h3
  /         por
  /         = @now.speaker.name
  / 
  /       %p
  /         %strong Comienza a las:
  /         = @now.starts_at.strftime("%H:%M")
  /       %p
  /         %strong Finaliza a las:
  /         = @now.ends_at.strftime("%H:%M")
  / 
  /   - if @next
  /     .talk.upcoming
  /       %h1 Siguiente
  /       %h2
  /         = @next.title_en
  /       %h3
  /         by
  /         = @next.speaker.name
  /       %p
  /         %strong Comienza a las:
  /         = @next.starts_at.strftime("%H:%M")
  /       %p
  /         %strong Finaliza a las:
  /         = @next.ends_at.strftime("%H:%M")
  
  #pictures
    %p
      Agrega tus fotos del evento a 
      %a{:href => "http://www.flickr.com/groups/rubyconfargentina2011/pool/", :target => '_blank'} Flickr
  #buzz
    %ul
  .clear

%script{:src => "http://api.flickr.com/services/rest/?method=flickr.groups.pools.getPhotos&api_key=a4c2977f9da75861ac1538f084e83349&group_id=1817972%40N23&per_page=10&format=json"}
%script
  setTimeout("window.location.reload()", 60000);
