#proposals
  %h1 Convocatoria a charlas

  - unless @proposal.errors.empty?
    #errors
      %h2 Ooops, there were some errors!
      %ul
        - @proposal.errors.each do |error|
          %li.error= error

  %form{:action => "/proposals", :method => "POST" }
    .input 
      %label{:for => "proposal[title]"} Title of your talk
      %input{:type => "text",   :name => "proposal[title]", :value => @proposal.title }
      %span.hint Make it snappy!      
    
    .input 
      %label{:for => "proposal[description]"} Description
      %textarea{:name => "proposal[description]"}= @proposal.description
      %span.hint Used publicly on the schedule if the talk is accepted.
    
    .input 
      %label{:for => "proposal[speaker_name]"} Name
      %input{:type => "text",   :name => "proposal[speaker_name]", :value => @proposal.speaker_name }
      %span.hint Please separate full names with commas.

    .input 
      %label{:for => "proposal[speaker_email]"} Email
      %input{:type => "text",   :name => "proposal[speaker_email]", :value => @proposal.speaker_email }
      %span.hint Please provide one email address.

    .input 
      %label{:for => "proposal[speaker_bio]"} Bio
      %textarea{:name => "proposal[speaker_bio]"}= @proposal.speaker_bio
      %span.hint Tell us something about you.

    %input{:type => "submit", :name => "submit", :value => "Submit Proposal"}