-# coding: utf-8
#proposals
  %h1 Call For Papers

  .box
    %h1 RubyConf Argentina is no longer accepting proposals for talks. 

    %p In the next weeks we'll be deciding which speakers are going to be speaking at the conference. 

    %p Questions? email rubyconfar@gmail.com
