#proposals
  %h1 Convocatoria a charlas

  - unless @proposal.errors.empty?
    #errors
      %h2 Epa, parece que hubo algunos errores!
      %ul
        - @proposal.errors.each do |error|
          %li.error= error

  %form{:action => "/proposals", :method => "POST" }
    .input 
      %label{:for => "proposal[title]"} Titulo de tu charla
      %input{:type => "text",   :name => "proposal[title]", :value => @proposal.title }
      %span.hint Corto y pegadizo!
    
    .input 
      %label{:for => "proposal[description]"} Descripcion
      %textarea{:name => "proposal[description]"}= @proposal.description
      %span.hint Será usado como título en la agenda pública.
    
    .input 
      %label{:for => "proposal[speaker_name]"} Nombre del Orador
      %input{:type => "text",   :name => "proposal[speaker_name]", :value => @proposal.speaker_name }
      %span.hint Nombre completo, por favor.

    .input 
      %label{:for => "proposal[speaker_email]"} Email
      %input{:type => "text",   :name => "proposal[speaker_email]", :value => @proposal.speaker_email }
      %span.hint Por favor, provee una dirección de email

    .input 
      %label{:for => "proposal[speaker_bio]"} Bio
      %textarea{:name => "proposal[speaker_bio]"}= @proposal.speaker_bio
      %span.hint Decinos algo acerca tuyo.

    %input{:type => "submit", :name => "submit", :value => "Enviar propuesta"}