-# coding: utf-8
#proposals
  %h1 Convocatoria a charlas

  .box
    %h1 Lo sentimos, el envío de propuestas de charla para RubyConf Argentina ha finalizado el 31 de Julio de 2011.

    %p En los próximos días publicaremos la lista definitiva de oradores, junto con el programa de ambos días de conferencia.

    %p Si tenés alguna pregunta, escribinos a <a href="mailto:rubyconfar@gmail.com">rubyconfar@gmail.com</a>

    %p ¡Muchas gracias a todos los que participaron!
