-# coding: utf-8
#proposals
  %h1 Convocatoria a charlas

  .box
    %h1 RubyConf Argentina ya no acepta propuestas para charlas. 

    %p Dentro de las próximas semanas decidiremos quienes ser&aacute;n los oradores que hablar&aacute;n en la conferencia.

    %p Preguntas? email rubyconfar@gmail.com
