#proposals
  %h1 Convocatoria a charlas

  .box
    %h1 RubyConf Argentina esta aceptando propuestas para charlas. 

    %h2 Las propuestas seran aceptadas hasta el Domingo 31/7/2011 a la media noche.

    %p Las charlas serán de 45 minutos de duración y y no incluirán tiempo para preguntas. Recuerda que la mayoría de la concurrencia usa Ruby a diario, así que tu charla debería ser para una audiencia de Rubyistas de nivel intermedio-avanzado. Se aceptan también charlas sobre temas no-Ruby, si están de alguna forma relacionados con Ruby, o si son seriamente asombrosas. 


    %p Si tu charla es seleccionada recibirás un acceso gratis para asistir a la conferencia y alguna que otra cosa que aun no hemos definido. En ese momento necesitaremos una foto tuya para ser usada en el programa y en el website. 
    
    %p Preguntas? email rubyconfar@gmail.com

  - unless @proposal.errors.empty?
    #errors
      %h2 Epa, parece que hubo algunos errores!
      %ul
        - @proposal.errors.each do |error|
          %li.error= error

  %form{:action => "/proposals", :method => "POST" }
    .input 
      %label{:for => "proposal[title]"} Titulo de tu charla
      %input{:type => "text",   :name => "proposal[title]", :value => @proposal.title }
      %span.hint Corto y pegadizo!
    
    .input 
      %label{:for => "proposal[description]"} Descripcion
      %textarea{:name => "proposal[description]"}= @proposal.description
      %span.hint Será usado como título en la agenda pública.
    
    .input 
      %label{:for => "proposal[speaker_name]"} Nombre del Orador
      %input{:type => "text",   :name => "proposal[speaker_name]", :value => @proposal.speaker_name }
      %span.hint Nombre completo, por favor.

    .input 
      %label{:for => "proposal[speaker_email]"} Email
      %input{:type => "text",   :name => "proposal[speaker_email]", :value => @proposal.speaker_email }
      %span.hint Por favor, provee una dirección de email

    .input 
      %label{:for => "proposal[speaker_bio]"} Bio
      %textarea{:name => "proposal[speaker_bio]"}= @proposal.speaker_bio
      %span.hint Decinos algo acerca tuyo.

    %input{:type => "submit", :name => "submit", :value => "Enviar propuesta"}