-# coding: utf-8
#proposals
  %h1 Call For Papers

  .box
    %h1 We're sorry, reception of talk proposals for RubyConf Argentina finished on July 31th, 2011.

    %p In the upcoming days will be publishing the definitve list of speakers, alongside the schedule for both days.

    %p If you have any question, write us at <a href="mailto:rubyconfar@gmail.com">rubyconfar@gmail.com</a>

    %p Thanks to all that participated!
