%form{:action => "/register", :method => "POST", :id => 'new_registration' }
  %input{:type => "text",   :name => "registration[email]", :value => "", :placeholder => 'e-mail'}
  %input{:type => "submit", :name => "submit", :value => ""}
