
- if @registration and !@registration.errors.empty?
  #errors
    %ul
      - @registration.errors.each do |error|
        %li.error= error

%form{:action => "/register", :method => "POST", :id => 'new_registration' }
  %input{:type => "text",   :name => "registration[email]", :value => "", :placeholder => 'e-mail'} 
  %input{:type => "submit", :name => "OK", :value => "OK", :alt => "OK"}
