-# coding: utf-8
#rubyfunday
  %h1 Ruby Fun Day!
  .box
    %p 
      Un día completo para aprender, conocer y divertirse con Ruby y su increíble comunidad!
      Una oportunidad fantástica para conocer a otros colegas y compartir experiencias.
    %p
      Es
      %strong gratis
      y sólo para quienes estén registrados para RubyConf Argentina 2011.
    %p
      Las actividades están pensadas para que cada uno traiga su laptop, o 
      se junte con aquellos que la traigan, para poder hacer los juegos y talleres. 
      Habrá enchufes y wi-fi para todos.
    %p
      Habrá café y snacks, pero el almuerzo no está incluido en este evento.

  .box
    %h2 Cuando
    %p Domingo 6 de noviembre de 2011 a las 9:45 hs.

  .box
    %h2 Donde
    %p 
      Urban Station Palermo - El Salvador 4588, Buenos Aires
      %a{:href => "http://g.co/maps/hyez6"} (necesitas un mapa?)
  .box
    #alert
      IMPORTANTE: Dado que los lugares son limitados para este evento, vamos a pedirte
      que nos confirmes tu asistencia. Está atento ya que en pocos días vamos a anunciar cómo registrarse.
  .box
    %h2 Agenda
    .track
      %h3 Track Principiantes
      %table
        %tr
          %td
            10:00
          %td
            %h4 Tutorial Ruby on Rails - Stephen Anderson
            %p
              Un conjunto de ejercicios y labs para todo el día, donde aprenderás a dar tus primeros pasos con Ruby on Rails.
              Además vas a poder conocer otras importantes piezas del entorno, incluyendo Ruby, Heroku, git, Github, rvm y las gemas.
            %p
              Comenzaremos instalando y ejecutando Rails. Luego escribiremos una aplicación muy sencilla y la pasaremos a producción
              utilizando Heroku, e inmediatamente comenzaremos a compartir nuestro código en Github.
            %p
              Una vez que hayamos visto el ciclo completo, agregaremos contenido y funcionalidad para aprender las distintas partes de
              Rails, mientras que desmenuzamos nuestra aplicación e implementamos nuevas versiones en producción.
            %p
              Requisitos: una laptop ejecutando Windows, OS X, Ubuntu o Ubuntu en una máquina virtual. No hay problema si preferís 
              otras distribuciones de Linux.
            %p
              Además, es necesario que Ruby esté previamente instalado en tu laptop. Si aún no lo hiciste, podés seguir estas
              %a{:href => "http://www.ruby-lang.org/es/downloads/"} instrucciones para instalar Ruby.
              Si necesitás ayuda, podés escribir a la 
              %a{:href => "http://groups.google.com/group/rubysur"} lista de RubySur.
            %p
              Duración: 6 horas (habrá pausas para café y almuerzo)
    .track
      %h3 Track Intermedio / Avanzado
      %table
        %tr
          %td
            11:00
          %td
            %h4 Agile City Building Game - Emilio Gutter
            %p
              Estás listo para comenzar a construir tu propia ciudad? Unite a un equipo de construcción, 
              tomá tus herramientas y preparate para comenzar a construir una fantástica ciudad mientras 
              aprendés los principios fundamentales del desarrollo de software Lean. Vos y tú equipo tendrán 
              que maximizar el valor entregado a los habitantes de la ciudad mientras compiten con otros 
              equipos por demostrar quien es la mejor empresa de construcción ágil!
            %p
              El objetivo del juego es lograr que los participantes puedan experimentar los principios 
              fundamentales detrás del desarrollo de software Lean/Agile mientras se divierten y aprenden 
              con sus compañeros. En el juego cada equipo tendrá que maquetar edificios y objetos presentes 
              en una ciudad, utilizando materiales simples provistos por los disertantes. 
            %p
              Los equipos recibirán un backlog de historias, cada una con un valor de negocio asignado. 
              Cada equipo deberá llevar a cabo las historias dentro de iteraciones cortas con el objetivo 
              de maximizar el valor entregado al final del juego.
            
            %p
              El juego les permitirá a los participantes experimentar las siguientes prácticas y principios 
              lean: efectos del work in-progress y cómo ajustar sus límites, cómo identificar y adaptarse 
              a los cuellos de botella, junto con otros principios y prácticas ágiles: trabajo en equipo, 
              auto-organización, iteraciones cortas y time-boxed y priorización por valor de negocio.
            %p
              Duración: 2 horas
        %tr
          %td
            14:00
          %td
            %h4 Coding Dojo: Formato Kake - Pablo Tortorella
            %p
              Evolucionando de los tradicionales Coding Dojos está surgiendo un nuevo formato conocido 
              como "Kake". La dinámica de un Kake Coding Dojo se basa en el trabajo de diferentes equipos 
              de entre tres y cinco miembros evolucionando una problemática de programación, funcionando 
              cada equipo como una isla "Randori" donde existirá un codificador (piloto) y un acompañante 
              (copiloto) con un pequeño público de entre 1 y 3 personas. En sucesivas iteraciones de 7 
              minutos todos los miembros de cada equipo irán pasando por los tres roles: piloto, copiloto, 
              público, y reiniciando el ciclo.
            %p
              La propuesta es divertirnos, aprendendiendo con y de otros, utilizando técnicas de TDD, 
              Pair Programming y Refactoring para lograr un código limpio (Clean Code) y escalable.
            %p
              Duración: 3 horas
