-# coding: utf-8
#rubyfunday
  %h1 Ruby Fun Day!
  .box
    %p 
      A whole day to learn, meet and have fun with Ruby and its great community!
      A fantastic opportunity for you to meet other peers and share experiences.
    %p
      It's
      %strong free
      and exclusive for those who are registered for RubyConf Argentina 2011.
    %p
      Activities are meant for you to practice what you're learning with your own 
      laptop, or join someone else who brought his/her. There will be outlets and 
      wi-fi for everyone.

    %p
      There will be coffee and snacks, but lunch is not included in this event.

  .box
    %h2 When
    %p Sunday, November 6th, 2011, at 9:45 AM

  .box
    %h2 Where
    %p 
      Urban Station Palermo - El Salvador 4588, Buenos Aires
      %a{:href => "http://g.co/maps/hyez6"} (need a map?)
  .box
    #alert
      IMPORTANT: Since seats are limited for this event, we will ask you to confirm your attendance. Stay tuned, in a few days we will announce how to register.
  .box
    %h2 Agenda
    .track
      %h3 Beginners Track
      %table
        %tr
          %td
            10:00
          %td
            %h4 Ruby on Rails Tutorial - Stephen Anderson
            %p
              This will be a full day, hands-on set of labs to get you using Ruby on Rails. You will also gain experience with other important parts of the environment, including Ruby, Heroku, git, Github, rvm and gems.
            %p
              We’ll start by getting everyone installed and running Rails. We’ll write and deploy a very simple application to production on Heroku and immediately start sharing our code on Github.
            %p
              Once we’ve seen the full life cycle, we’ll add content in order to learn the parts of the Rails framework as we flesh out our application and deploy improved versions to production.
            %p
              Requirements: a laptop running Windows, OS X, Ubuntu, or Ubuntu on a virtual machine. Other Linuxes are fine if you are comfortable with them.
            %p
              It's also necessary that Ruby is already installed in your computer. If you haven't done it already, you can follow these
              %a{:href => "http://www.ruby-lang.org/en/downloads/"} instructions to setup Ruby.
            %p
              Duration: 6 hours (there will be coffee and lunch breaks)
    .track
      %h3 Intermediate / Advanced Track
      %table
        %tr
          %td
            11:00
          %td
            %h4 The Agile City Building Game - Emilio Gutter
            %p
              Are you ready to start building your own city? Join a construction team,
              take your tools and get ready to build a fantastic city while
              you learn fundamental principles of Lean software development. You an your team will
              have to maximize value delivered to the people in your city while you compete with other
              teams to show which is the best agile building team!
            %p
              The objective of this games is to let you experience the fundamental principles behind
              Lean/Agile software development while you have fun and learn with your partners.
              During the game, each team will have to mockup buildings and objects in the city, using
              simple materials provided by the organizers.
            %p
              Teams will get a story backlog, each one with an assigned business value.
              Each team will carry out the stories within short iterations in order to maximize 
              the value delivered by the end of the game.
            %p
              This workshop was presented at Agile Brazil 2011 and Agile Buenos Aires 2011
            %p
              Duration: 2 hours
        %tr
          %td
            14:00
          %td
            %h4 Coding Dojo: Formato Kake - Pablo Tortorella
            %p
              Evolving from the traditional Coding Dojo is emerging a new form known as "Kake".
              The dynamics of a Coding Dojo Kake is based on the work of different teams of three to five
              members solving a programming problem, each team working as an island "Randori"
              where there will be a coder (pilot) and a companion (copilot) with a small audience of between
              1 to 3 people. In successive iterations of 7 minutes all members of each team will be going
              the three roles: pilot, copilot, public, and restarting the cycle.
            %p
              The objective is to have fun, and learn from others, using TDD techniques,
              Pair Programming and Refactoring to make clean and scalable code.
            %p
              Duration: 3 hours
