#sponsoring

  %h1 Sponsoring
  %h2 Sponsorship opportunities
  .table_container
    %table{:summary => "RubyConf Schedule"}
      %thead
        %tr
          %th.time
            Description
          %th.formula
            Platinum
          %th.formula
            Gold
          %th.formula
            Silver
          %th.formula
            Bronze
        %tr
          %th
            &nbsp;
          %td.price
            $ 5,000 USD
          %td.price
            $ 3,000 USD
          %td.price
            $ 1,000 USD
          %td.price
            $ 500 USD
      %tbody
        %tr.separator
          %th{ :colspan => 5 }
            Before the conference
        %tr
          %td
            %strong Company name and logo on website
          %td
            Both
          %td
            Both
          %td
            Both
          %td
            Logo only
        %tr
          %td
            %strong Description in Spanish and English
          %td
            120 words
          %td
            100 words
          %td
            50 words
          %td
            &dash;
        %tr
          %td
            %strong Company logo on signs, T-shirts, etc
          %td
            Yes
          %td
            Yes
          %td
            Yes
          %td
            Only T-shirt
        %tr
          %td
            %strong Banner ad with link on webiste
          %td
            Yes
          %td
            &dash;
          %td
            &dash;
          %td
            &dash;
        %tr
          %td
            %strong Sponsor logo on emails
          %td
            Yes
          %td
            Yes
          %td
            Yes
          %td
            &dash;
        %tr
          %td
            %strong Opportunity to email attendees who have elected to receive correspondence
          %td
            Yes
          %td
            Yes
          %td
            &dash;
          %td
            &dash;
        %tr
          %td
            %strong Passes to the conference
          %td
            6
          %td
            4
          %td
            2
          %td
            1

      %tbody
        %tr.separator
          %th{ :colspan => 5 }
            During the conference
        %tr
          %td
            %strong On-stage mentions each day
          %td
            Yes
          %td
            Yes
          %td
            &dash;
          %td
            &dash;
        %tr
          %td
            %strong Talk at the morning of first or second day
          %td
            15 minutes
          %td
            &dash;
          %td
            &dash;
          %td
            &dash;
        %tr
          %td
            %strong Opportunity to setup a booth at the conference
          %td
            Yes
          %td
            Yes
          %td
            &dash;
          %td
            &dash;
        %tr
          %td
            %strong Opportunities for private reception, sponsorship of attendee bag
          %td
            Yes
          %td
            &dash;
          %td
            &dash;
          %td
            &dash;


      %tbody
        %tr.separator
          %th{ :colspan => 5 }
            Post-Conference
        %tr
          %td
            %strong Follow-up email to opt-in list
          %td
            Yes
          %td
            &dash;
          %td
            &dash;
          %td
            &dash;


  %h2 Custom sponsorhips
  %p
    Custom sponsorships are also available and include: Lanyards,
    Attendee Bags, Snack Sponsorships, Lunch, T-Shirts.

  %p
    Contact Chad DePue for more information: <a
    href="mailto:chad@inakanetworks.com">chad@inakanetworks.com</a> /
    +1 206.866.5707
