#sponsors
  %h1 Sponsors
  
  %ul#list  
    %li#github
      = link_to 'http://www.github.com/', nil, {:target => 'blank'} do
        %img{:src => '/images/sponsors/github.png'}
    %li#urban-station
      = link_to 'http://argentina.enjoyurbanstation.com/es/', nil, {:target => 'blank'} do
        %img{:src => '/images/sponsors/urban-station.png'}
    %li#inaka
      = link_to 'http://inakanetworks.com/', nil, {:target => 'blank'} do
        %img{:src => '/images/sponsors/inaka-networks.png'}