#sponsoring

  %h1 Sponsoring
  %h2 Sponsorship opportunities
  .container
    %table{:summary => "RubyConf Schedule"}
      %thead
        %tr
          %th.time
            Description
          %th.formula
            Platinum
          %th.formula
            Gold
          %th.formula
            Silver
          %th.formula
            Bronze
        %tr
          %th
            &nbsp;
          %td.price
            $ 5,000 USD
          %td.price
            $ 3,000 USD
          %td.price
            $ 1,000 USD
          %td.price
            $ 500 USD
      %tbody
        %tr.separator
          %th{ :colspan => 5 }
            Before the conference
        %tr
          %td Company name and logo on website
          %td
            Both
          %td
            Both
          %td
            Both
          %td
            Logo only
        %tr
          %td Description in Spanish and English
          %td
            120 words
          %td
            100 words
          %td
            50 words
          %td
            &ndash;
        %tr
          %td Company logo on signs, T-shirts, etc
          %td
            Yes
          %td
            Yes
          %td
            Yes
          %td
            Only T-shirt
        %tr
          %td Banner ad with link on website
          %td
            Yes
          %td
            &ndash;
          %td
            &ndash;
          %td
            &ndash;
        %tr
          %td Sponsor logo on emails
          %td
            Yes
          %td
            Yes
          %td
            Yes
          %td
            &ndash;
        %tr
          %td Opportunity to email attendees who have elected to receive correspondence
          %td
            Yes
          %td
            Yes
          %td
            &ndash;
          %td
            &ndash;
        %tr
          %td Passes to the conference
          %td
            6
          %td
            4
          %td
            2
          %td
            1

      %tbody
        %tr.separator
          %th{ :colspan => 5 }
            During the conference
        %tr
          %td On-stage mentions each day
          %td
            Yes
          %td
            Yes
          %td
            &ndash;
          %td
            &ndash;
        %tr
          %td Talk at the morning of first or second day
          %td
            15 minutes
          %td
            &ndash;
          %td
            &ndash;
          %td
            &ndash;
        %tr
          %td Opportunity to setup a booth at the conference
          %td
            Yes
          %td
            Yes
          %td
            &ndash;
          %td
            &ndash;
        %tr
          %td Opportunities for private reception, sponsorship of attendee bag
          %td
            Yes
          %td
            &ndash;
          %td
            &ndash;
          %td
            &ndash;


      %tbody
        %tr.separator
          %th{ :colspan => 5 }
            Post-Conference
        %tr
          %td Follow-up email to opt-in list
          %td
            Yes
          %td
            &ndash;
          %td
            &ndash;
          %td
            &ndash;


  %h2 Custom sponsorships
  #custom_sponsorships.container
    
    %p
      Custom sponsorships are also available and include: 
      %br
      Lanyards, Attendee Bags, Snack Sponsorships, Lunch, T-Shirts.

    %p
      Contact Chad DePue for more information: 
      = email("chad@inakanetworks.com", "chad@inakanetworks.com") 
      \/
      +1 206.866.5707
