#sponsoring

  %h1 Sponsoreo
  %h2 Oportunidades
  .container
    %table{:summary => "RubyConf Schedule"}
      %thead
        %tr
          %th.time
            Descripcion
          %th.formula
            Platinum
          %th.formula
            Gold
          %th.formula
            Silver
          %th.formula
            Bronze
        %tr
          %th
            &nbsp;
          %td.price
            $ 5,000 USD
          %td.price
            $ 3,000 USD
          %td.price
            $ 1,000 USD
          %td.price
            $ 500 USD
      %tbody
        %tr.separator
          %th{ :colspan => 5 }
            Antes de la conferencia
        %tr
          %td Nombre y logo de la compa&ntilde;&iacute;a en el website
          %td
            Ambos
          %td
            Ambos
          %td
            Ambos
          %td
            Logo unicamente
        %tr
          %td Descripci&oacute;n en Espa&ntilde;ol e Ingl&eacute;s
          %td
            120 palabras
          %td
            100 palabras
          %td
            50 palabras
          %td
            &ndash;
        %tr
          %td Logo de la compa&ntilde;&iacute;a en letreros, remeras, etc. 
          %td
            Si
          %td
            Si
          %td
            Si
          %td
            Solo Remera
        %tr
          %td Anuncio con link en website
          %td
            Si
          %td
            &ndash;
          %td
            &ndash;
          %td
            &ndash;
        %tr
          %td Logo en emails
          %td
            Si
          %td
            Si
          %td
            Si
          %td
            &ndash;
        %tr
          %td Oportunidad de enviar emails a participantes que hayan elegido recibir correspondencia.
          %td
            Si
          %td
            Si
          %td
            &ndash;
          %td
            &ndash;
        %tr
          %td Entradas a la conferencia
          %td
            6
          %td
            4
          %td
            2
          %td
            1

      %tbody
        %tr.separator
          %th{ :colspan => 5 }
            Durante la conferencia
        %tr
          %td Menciones diarias en el escenario
          %td
            Si
          %td
            Si
          %td
            &ndash;
          %td
            &ndash;
        %tr
          %td Charla por la mañana del primero o segundo día
          %td
            15 minutos
          %td
            &ndash;
          %td
            &ndash;
          %td
            &ndash;
        %tr
          %td Oportunidad de carpa/stand en la conferencia
          %td
            Si
          %td
            Si
          %td
            &ndash;
          %td
            &ndash;
        %tr
          %td Oportunidad de recepción privada, patrocinamiento de bolso de participantes
          %td
            Si
          %td
            &ndash;
          %td
            &ndash;
          %td
            &ndash;


      %tbody
        %tr.separator
          %th{ :colspan => 5 }
            Luego de la conferencia
        %tr
          %td Follow-up email to opt-in list
          %td
            Si
          %td
            &ndash;
          %td
            &ndash;
          %td
            &ndash;


  %h2 Sponsoreo Personalizado
  #custom_sponsorships.container
    
    %p
      También se encuentra disponible el sponsoreo personalizado, e incluye:
      %br
      Lanyards, Attendee Bags, Snack Sponsorships, Lunch, T-Shirts.

    %p
      Contactar a  Chad DePue para más información: 
      = email("chad@inakanetworks.com", "chad@inakanetworks.com") 
      \/
      +1 206.866.5707
