#sponsoring 

  %h1 Sponsoring
  %h2 Sponsorship opportunities
  .table_container
    %table{:summary => "RubyConf Schedule"}
      %thead
        %tr
          %th.time
            Description
          %th.formula
            Platinum
          %th.formula
            Gold
          %th.formula
            Silver
          %th.formula
            Bronze
      %tbody
        %tr
          %td
            %b Partners available
          %td
            max. 1
          %td
            max. 3
          %td
            max. 5
          %td
            Unlimited
        %tr
          %td
            %b Free tickets
          %td
            4
          %td
            3
          %td
            2
          %td
            1
        %tr
          %td
            %b Free t-shirts
          %td
            4
          %td
            3
          %td
            2
          %td
            1
        %tr
          %td
            %b Logo on sponsorpage
          %td.yes
            yes
          %td.yes
            yes
          %td.yes
            yes
          %td.yes
            yes
        %tr
          %td
            %strong Swagbag content
          %td.yes
            yes
          %td.yes
            yes
          %td.yes
            yes
          %td.yes
            yes
        %tr
          %td
            %strong Logo on homepage
          %td.yes
            yes
          %td.yes
            yes
          %td.yes
            yes
          %td.no
            no
        %tr
          %td
            %b Description on site
          %td
            150 words
          %td
            100 words
          %td
            50 words
          %td.no
            no
        %tr
          %td
            %b Banner in venue
          %td.yes
            yes
          %td.yes
            yes
          %td.yes
            yes
          %td.no
            no
        %tr
          %td
            %b Logo on presentation
          %td.yes
            yes
          %td.yes
            yes
          %td.yes
            yes
          %td.no
            no
        %tr
          %td
            %b Mentioned on thank you note
          %td.yes
            yes
          %td.yes
            yes
          %td.no
            no
          %td.no
            no
        %tr
          %td
            %b Logo on t-shirts
          %td.yes
            yes
          %td.yes
            yes
          %td.no
            no
          %td.no
            no
        %tr
          %td
            %b Sponsor Table
          %td.yes
            yes
          %td.yes
            yes
          %td.no
            no
          %td.no
            no
        %tr
          %td
            %b Banner on main stage
          %td.yes
            yes
          %td.no
            no
          %td.no
            no
          %td.no
            no
        %tr
          %td
            %b Logo on badge
          %td.yes
            yes
          %td.no
            no
          %td.no
            no
          %td.no
            no
        %tr
          %td
            %b 30 minute slot&nbsp;
          %td.yes
            yes
          %td.no
            no
          %td.no
            no
          %td.no
            no
        %tr
          %td
            %b Other
          %td.yes
            yes
          %td.no
            no
          %td.no
            no
          %td.no
            no
      %tfoot
        %tr
          %td{:colspan => "5"}
            All banners &amp; goods for the swagbags are supplied by the sponsor
      %tbody

