#sponsoring

  %h1 Sponsoring
  %h2 Sponsorship opportunities
  .table_container
    %table{:summary => "RubyConf Schedule"}
      %thead
        %tr
          %th.time
            Description
          %th.formula
            Platinum
          %th.formula
            Gold
          %th.formula
            Silver
          %th.formula
            Bronze
      %tbody
        %tr.separator
          %th{ :colspan => 5 }
            Before the conference
        %tr
          %td
            %strong Company name and logo on website
          %td
            Both
          %td
            Both
          %td
            Both
          %td
            Logo only
        %tr
          %td
            %strong Description in Spanish and English
          %td
            120 words
          %td
            100 words
          %td
            50 words
          %td
            &dash;
        %tr
          %td
            %strong Company logo on signs, T-shirts, etc
          %td
            Yes
          %td
            Yes
          %td
            Yes
          %td
            &dash;
        %tr
          %td
            %strong Banner ad with link on webiste
          %td
            Yes
          %td
            &dash;
          %td
            &dash;
          %td
            &dash;
        %tr
          %td
            %strong Sponsor logo on emails
          %td
            Yes
          %td
            Yes
          %td
            Yes
          %td
            &dash;
        %tr
          %td
            %strong Opportunity to email attendees who have elected to receive correspondence
          %td
            Yes
          %td
            Yes
          %td
            &dash;
          %td
            &dash;
        %tr
          %td
            %strong Passes to the conference
          %td
            6
          %td
            4
          %td
            2
          %td
            &dash;
