@charset "utf-8";
/* CSS RESET. standardizes cross-browser rendering on common elements, neutralizing browsers' built-in stylesheets. */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, iframe {
  margin: 0;
  padding: 0; }
table {
  border-collapse: collapse;
  border-spacing: 0; }
fieldset, img {
  border: 0; }
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal; }
ol, ul {
  list-style: none; }
caption, th {
  text-align: left; }
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }
q:before, q:after {
  content: ""; }
abbr, acronym {
  border: 0; }
a, img a {
  border: 0 none;
  margin: 0;
  padding: 0; }
@font-face {
  font-family: "BebasRegular";
  src: url("fonts/BEBAS___-webfont.eot");
  src: url("fonts/BEBAS___-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/BEBAS___-webfont.woff") format("woff"), url("fonts/BEBAS___-webfont.ttf") format("truetype"), url("fonts/BEBAS___-webfont.svg#BebasRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "MolotRegular";
  src: url("/fonts/Molot-webfont.eot");
  src: url("/fonts/Molot-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Molot-webfont.woff") format("woff"), url("/fonts/Molot-webfont.ttf") format("truetype"), url("/fonts/Molot-webfont.svg#MolotRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100%; }
.CodeRay {
  margin-left: auto;
  margin-right: auto;
  width: 620px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #f8f8f8;
  border: 1px solid silver;
  font-family: "Courier New", "Terminal", monospace;
  color: black;
  padding: 10px; }
  .CodeRay pre {
    margin: 0px; }
.clear {
  clear: both; }
html body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #6e2821 url("/images/bkg.jpg") repeat center top; }
  html body a {
    color: black;
    text-decoration: none;
    font-weight: bold; }
    html body a:hover {
      text-decoration: underline; }
  html body #wrapper {
    width: 100%;
    min-height: 100%;
    margin-bottom: -316px;
    background: url("/images/wrapper_bkg.jpg") no-repeat center 213px; }
    html body #wrapper #screen {
      margin-top: 50px; }
    html body #wrapper #header {
      text-align: center;
      width: 100%;
      height: 213px;
      background: #ab3124 url("/images/header_rubyconf_no_fist.jpg") no-repeat center top; }
      html body #wrapper #header #when_and_where {
        background: url("/images/when_and_where.png") no-repeat center top;
        height: 19px;
        position: absolute;
        width: 960px;
        left: 50%;
        margin-left: -480px; }
      html body #wrapper #header #fist {
        background: url("/images/fist.png") no-repeat center center;
        background-position: left 198px;
        height: 198px;
        width: 690px;
        position: absolute;
        margin: 15px -340px 0 0px;
        right: 50%; }
      html body #wrapper #header #logo_linking_home {
        height: 185px;
        margin: 23px -340px 0 0;
        position: absolute;
        right: 50%;
        width: 690px; }
      html body #wrapper #header #languages {
        position: absolute;
        right: 50%;
        margin: 150px 395px 0 0; }
        html body #wrapper #header #languages #es, html body #wrapper #header #languages #en {
          width: 60px;
          height: 10px;
          border: 1px solid #471915;
          background: url("/images/flags_sprite.png") no-repeat right -10px;
          margin-bottom: 5px; }
          html body #wrapper #header #languages #es:hover, html body #wrapper #header #languages #en:hover {
            border-color: #f7a924; }
          html body #wrapper #header #languages #es:active, html body #wrapper #header #languages #en:active {
            -moz-box-shadow: black 0 0 2px;
            -webkit-box-shadow: black 0 0 2px;
            box-shadow: black 0 0 2px;
            border-color: black; }
          html body #wrapper #header #languages #es.current, html body #wrapper #header #languages .current#en {
            background-position: left -10px; }
        html body #wrapper #header #languages #en {
          background-position: right top; }
          html body #wrapper #header #languages #en.current {
            background-position: left top; }
      html body #wrapper #header #social {
        width: 76px;
        position: absolute;
        left: 50%;
        margin: 86px 0 0 350px; }
        html body #wrapper #header #social .github_icon {
          margin: 0 auto 14px; }
        html body #wrapper #header #social .twitter_icon {
          margin: 0 auto 8px; }
    html body #wrapper #navigation {
      margin-left: auto;
      margin-right: auto;
      width: 960px; }
      html body #wrapper #navigation ol {
        margin-left: 200px; }
        html body #wrapper #navigation ol li {
          display: inline;
          text-align: right;
          margin-right: 5px; }
          html body #wrapper #navigation ol li a {
            text-shadow: 1px 1px 0 black;
            -webkit-text-shadow: 1px 1px 0 black;
            filter: dropshadow(color=black, offx=1px, offy=1px);
            font-size: 20px;
            font-family: "BebasRegular", Arial, sans-serif;
            letter-spacing: 0.5px;
            text-decoration: none;
            color: #ab3124; }
            html body #wrapper #navigation ol li a:hover {
              color: #f7a924; }
    html body #wrapper #content {
      margin-left: auto;
      margin-right: auto;
      width: 960px;
      padding-top: 40px; }
      html body #wrapper #content #errors {
        margin: 10px auto;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border: black solid 1px;
        background-color: #ab3124;
        padding: 10px;
        width: 50%; }
        html body #wrapper #content #errors h2 {
          text-shadow: 1px 1px 0 black;
          -webkit-text-shadow: 1px 1px 0 black;
          filter: dropshadow(color=black, offx=1px, offy=1px);
          text-align: center;
          color: #ab3124;
          font-size: 34px;
          font-weight: bold;
          font-letter-spacing: 0.5px;
          font-family: "BebasRegular", Arial, sans-serif;
          font-size: 23px;
          color: #f7a924; }
        html body #wrapper #content #errors ul {
          margin: 10px auto;
          text-align: center; }
      html body #wrapper #content .flash {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        text-shadow: 1px 1px 0 black;
        -webkit-text-shadow: 1px 1px 0 black;
        filter: dropshadow(color=black, offx=1px, offy=1px);
        text-align: center;
        color: #ab3124;
        font-size: 34px;
        font-weight: bold;
        font-letter-spacing: 0.5px;
        font-family: "BebasRegular", Arial, sans-serif;
        background-color: #ab3124;
        border: black solid 1px;
        color: #f7a924;
        font-size: 20px;
        margin-bottom: 20px;
        padding: 10px;
        text-align: center; }
      html body #wrapper #content #home #left_col {
        float: left;
        width: 550px;
        text-align: center; }
        html body #wrapper #content #home #left_col p {
          margin-top: 5px;
          font-size: 20px; }
        html body #wrapper #content #home #left_col h1 {
          color: #f7a924;
          text-shadow: 1px 1px 0 black;
          -webkit-text-shadow: 1px 1px 0 black;
          filter: dropshadow(color=black, offx=1px, offy=1px);
          font-size: 34px;
          font-family: "BebasRegular", Arial, sans-serif;
          letter-spacing: 0.8px; }
        html body #wrapper #content #home #left_col h2 {
          font-size: 30px;
          font-family: "BebasRegular", Arial, sans-serif;
          letter-spacing: 2px; }
      html body #wrapper #content #home #right_col {
        float: right;
        width: 290px; }
        html body #wrapper #content #home #right_col #where h1 img {
          margin-bottom: -2px; }
        html body #wrapper #content #home #right_col #where h2 {
          color: #c0b8b9;
          font-size: 19px;
          font-weight: bold;
          letter-spacing: 1px; }
          html body #wrapper #content #home #right_col #where h2 span.dot {
            color: #ab3124;
            font-size: 17px; }
        html body #wrapper #content #home #right_col #where h3 img {
          margin-top: 5px; }
        html body #wrapper #content #home #right_col #in-the-loop {
          margin: 26px 0 8px 0; }
          html body #wrapper #content #home #right_col #in-the-loop img {
            margin-left: 1px; }
          html body #wrapper #content #home #right_col #in-the-loop .keep {
            font-size: 34px;
            font-family: "BebasRegular", Arial, sans-serif; }
          html body #wrapper #content #home #right_col #in-the-loop .posted {
            font-family: "MolotRegular", Arial, sans-serif;
            font-size: 36px;
            font-weight: bold;
            letter-spacing: 0.1px; }
        html body #wrapper #content #home #right_col form#new_registration input[type='text'] {
          -moz-box-shadow: #82251d 2px 2px 0 inset;
          -webkit-box-shadow: #82251d 2px 2px 0 inset;
          box-shadow: #82251d 2px 2px 0 inset;
          background: #ab3124 url("/images/red_texture.png");
          border: black solid 1px;
          color: black;
          font-size: 16px;
          height: 24px;
          padding: 3px 10px 1px;
          width: 206px;
          float: left; }
          html body #wrapper #content #home #right_col form#new_registration input[type='text']:focus {
            color: #f7a924; }
        html body #wrapper #content #home #right_col form#new_registration input[type='submit'] {
          -moz-box-shadow: #744f10 -2px -2px 0 inset;
          -webkit-box-shadow: #744f10 -2px -2px 0 inset;
          box-shadow: #744f10 -2px -2px 0 inset;
          background: #f7a924 url("/images/ok.png") no-repeat center center;
          border-color: black;
          border-style: solid;
          border-width: 1px 1px 1px 0;
          height: 30px;
          width: 50px;
          float: left;
          color: #744f10; }
          html body #wrapper #content #home #right_col form#new_registration input[type='submit']:hover {
            background: #f7a924 url("/images/ok_hover.png") no-repeat center center; }
        html body #wrapper #content #home #right_col #sponsors {
          -moz-box-shadow: #82251d 2px 2px 0 inset;
          -webkit-box-shadow: #82251d 2px 2px 0 inset;
          box-shadow: #82251d 2px 2px 0 inset;
          background: #ab3124 url("/images/red_texture.png");
          border: 1px solid #471915;
          margin-top: 30px;
          text-align: center;
          width: 270px; }
          html body #wrapper #content #home #right_col #sponsors h1 {
            padding: 4px 0 3px;
            font-size: 11px;
            font-family: "BebasRegular", Arial, sans-serif;
            text-transform: uppercase;
            letter-spacing: 3px; }
          html body #wrapper #content #home #right_col #sponsors ul#list {
            margin: 4px;
            background: #afd8e4 url("/images/light_blue_texture.jpg") repeat center top;
            padding: 12px 0;
            border: 1px solid #82251d; }
            html body #wrapper #content #home #right_col #sponsors ul#list li {
              margin-bottom: 10px; }
        html body #wrapper #content #home #right_col #sponsors_shadow {
          background: url("/images/shadow.png") no-repeat center top;
          height: 14px;
          width: 270px; }
      html body #wrapper #content #speakers h1.title {
        text-shadow: 1px 1px 0 black;
        -webkit-text-shadow: 1px 1px 0 black;
        filter: dropshadow(color=black, offx=1px, offy=1px);
        text-align: center;
        color: #ab3124;
        font-size: 34px;
        font-weight: bold;
        font-letter-spacing: 0.5px;
        font-family: "BebasRegular", Arial, sans-serif;
        color: #f7a924; }
      html body #wrapper #content #speakers h2.headline {
        text-shadow: 1px 1px 0 black;
        -webkit-text-shadow: 1px 1px 0 black;
        filter: dropshadow(color=black, offx=1px, offy=1px);
        text-align: center;
        color: #ab3124;
        font-size: 34px;
        font-weight: bold;
        font-letter-spacing: 0.5px;
        font-family: "BebasRegular", Arial, sans-serif;
        font-size: 28px;
        color: #ab3124; }
      html body #wrapper #content #speakers p.desc {
        text-shadow: 1px 1px 0 black;
        -webkit-text-shadow: 1px 1px 0 black;
        filter: dropshadow(color=black, offx=1px, offy=1px);
        color: #ab3124;
        text-align: center; }
      html body #wrapper #content #speakers ul#list_of_speakers {
        margin: 0 auto 20px;
        width: 800px; }
        html body #wrapper #content #speakers ul#list_of_speakers hr {
          clear: both;
          border: 0 none;
          height: 0; }
        html body #wrapper #content #speakers ul#list_of_speakers li {
          margin-top: 50px; }
          html body #wrapper #content #speakers ul#list_of_speakers li .summary {
            float: left;
            width: 140px;
            text-align: center; }
            html body #wrapper #content #speakers ul#list_of_speakers li .summary .picture {
              background: url("/images/shadow_picture.png") no-repeat center bottom;
              padding-bottom: 10px; }
              html body #wrapper #content #speakers ul#list_of_speakers li .summary .picture img {
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                background-color: #ab3124;
                background-image: -moz-linear-gradient(top, #ab3124, #6e2821);
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ab3124), color-stop(1, #6e2821));
                background-image: linear-gradient(top, #ab3124, #6e2821);
                border: solid 1px #6e2821;
                padding: 3px; }
            html body #wrapper #content #speakers ul#list_of_speakers li .summary ul.links {
              text-align: right;
              margin-top: -2px;
              margin-right: 6px; }
              html body #wrapper #content #speakers ul#list_of_speakers li .summary ul.links li {
                margin: 0;
                font-size: 10px; }
                html body #wrapper #content #speakers ul#list_of_speakers li .summary ul.links li a {
                  text-shadow: 1px 1px 0 black;
                  -webkit-text-shadow: 1px 1px 0 black;
                  filter: dropshadow(color=black, offx=1px, offy=1px);
                  color: #c0b8b9;
                  font-weight: normal; }
          html body #wrapper #content #speakers ul#list_of_speakers li .description {
            margin-left: 180px; }
            html body #wrapper #content #speakers ul#list_of_speakers li .description h1 {
              text-shadow: 1px 1px 0 black;
              -webkit-text-shadow: 1px 1px 0 black;
              filter: dropshadow(color=black, offx=1px, offy=1px);
              color: #f7a924;
              font-family: "BebasRegular", Arial, sans-serif;
              font-size: 24px; }
              html body #wrapper #content #speakers ul#list_of_speakers li .description h1 .from {
                display: block;
                color: #c0b8b9;
                font-size: 15px;
                font-family: Arial; }
            html body #wrapper #content #speakers ul#list_of_speakers li .description h2 {
              font-size: 12px;
              font-family: Arial; }
            html body #wrapper #content #speakers ul#list_of_speakers li .description p {
              margin-top: 10px;
              color: black; }
              html body #wrapper #content #speakers ul#list_of_speakers li .description p span.quoted {
                color: #afd8e4;
                font-size: 13px;
                font-family: Arial; }
            html body #wrapper #content #speakers ul#list_of_speakers li .description a {
              color: #afd8e4; }
      html body #wrapper #content #about h1 {
        text-shadow: 1px 1px 0 black;
        -webkit-text-shadow: 1px 1px 0 black;
        filter: dropshadow(color=black, offx=1px, offy=1px);
        text-align: center;
        color: #ab3124;
        font-size: 34px;
        font-weight: bold;
        font-letter-spacing: 0.5px;
        font-family: "BebasRegular", Arial, sans-serif; }
      html body #wrapper #content #about p {
        margin-top: 10px;
        text-align: center;
        color: black; }
      html body #wrapper #content #about a {
        color: black; }
      html body #wrapper #content #proposals h1 {
        text-shadow: 1px 1px 0 black;
        -webkit-text-shadow: 1px 1px 0 black;
        filter: dropshadow(color=black, offx=1px, offy=1px);
        text-align: center;
        color: #ab3124;
        font-size: 34px;
        font-weight: bold;
        font-letter-spacing: 0.5px;
        font-family: "BebasRegular", Arial, sans-serif; }
      html body #wrapper #content #proposals form {
        margin-left: auto;
        margin-right: auto;
        width: 700px; }
        html body #wrapper #content #proposals form .input {
          margin-top: 5px;
          display: block; }
          html body #wrapper #content #proposals form .input label {
            text-shadow: 1px 1px 0 black;
            -webkit-text-shadow: 1px 1px 0 black;
            filter: dropshadow(color=black, offx=1px, offy=1px);
            display: block;
            margin-top: 5px;
            color: #f7a924;
            font-family: "BebasRegular", Arial, sans-serif;
            font-size: 22px;
            letter-spacing: 3px; }
          html body #wrapper #content #proposals form .input .hint {
            text-shadow: 1px 1px 0 black;
            -webkit-text-shadow: 1px 1px 0 black;
            filter: dropshadow(color=black, offx=1px, offy=1px);
            color: #744f10;
            font-size: 12px;
            clear: both; }
          html body #wrapper #content #proposals form .input textarea, html body #wrapper #content #proposals form .input input[type='text'] {
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 16px;
            padding: 5px; }
          html body #wrapper #content #proposals form .input input {
            width: 100%; }
          html body #wrapper #content #proposals form .input textarea {
            width: 100%;
            height: 100px; }
        html body #wrapper #content #proposals form input[type='submit'] {
          margin-top: 10px; }
      html body #wrapper #content #sponsoring h1 {
        text-shadow: 1px 1px 0 black;
        -webkit-text-shadow: 1px 1px 0 black;
        filter: dropshadow(color=black, offx=1px, offy=1px);
        text-align: center;
        color: #ab3124;
        font-size: 34px;
        font-weight: bold;
        font-letter-spacing: 0.5px;
        font-family: "BebasRegular", Arial, sans-serif; }
      html body #wrapper #content #sponsoring h2 {
        text-align: center;
        font-size: 30px;
        font-weight: normal;
        font-family: "BebasRegular", Arial, sans-serif; }
      html body #wrapper #content #sponsoring .container {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background-color: #ab3124;
        border: black solid 1px;
        border: solid 0.5px black;
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 20px;
        padding: 5px; }
        html body #wrapper #content #sponsoring .container table {
          width: 98%; }
          html body #wrapper #content #sponsoring .container table thead tr {
            font-size: 26px;
            font-family: "BebasRegular", Arial, sans-serif;
            font-letter-spacing: 1.5px; }
          html body #wrapper #content #sponsoring .container table thead th {
            padding-top: 5px;
            padding-bottom: 10px; }
          html body #wrapper #content #sponsoring .container table thead th:first-child {
            padding-left: 5px; }
          html body #wrapper #content #sponsoring .container table thead th:nth-child(n+2) {
            text-align: center;
            text-shadow: 1px 1px 0 black;
            -webkit-text-shadow: 1px 1px 0 black;
            filter: dropshadow(color=black, offx=1px, offy=1px);
            color: #f7a924; }
          html body #wrapper #content #sponsoring .container table thead .price {
            font-size: 18px;
            width: 10%;
            text-align: center; }
          html body #wrapper #content #sponsoring .container table tbody tr td {
            padding: 5px; }
          html body #wrapper #content #sponsoring .container table tbody tr td:first-child {
            padding-left: 5px;
            font-weight: bold;
            font-size: 16px; }
          html body #wrapper #content #sponsoring .container table tbody tr td:nth-child(n+2) {
            text-align: center; }
          html body #wrapper #content #sponsoring .container table tbody tr.separator th {
            text-shadow: 1px 1px 0 black;
            -webkit-text-shadow: 1px 1px 0 black;
            filter: dropshadow(color=black, offx=1px, offy=1px);
            font-family: "BebasRegular", Arial, sans-serif;
            font-size: 18px;
            border-top: 1px solid black;
            color: #f7a924;
            letter-spacing: 3px;
            margin-top: 5px;
            padding: 5px;
            text-align: center; }
          html body #wrapper #content #sponsoring .container table tfoot tr td {
            text-align: center; }
      html body #wrapper #content #sponsoring #custom_sponsorships {
        padding: 20px;
        text-align: center; }
    html body #wrapper #footer {
      background: url("/images/footer3.jpg") no-repeat center bottom;
      height: 316px;
      clear: both;
      text-align: center;
      font-size: 11px;
      font-weight: normal;
      letter-spacing: 0.5px;
      padding: 100px 0 0 0; }
      html body #wrapper #footer #footer_content {
        margin-top: 270px; }
        html body #wrapper #footer #footer_content a {
          color: #f7a924;
          text-shadow: -1px -1px 0 #82251d;
          -webkit-text-shadow: -1px -1px 0 #82251d;
          filter: dropshadow(color=#82251d, offx=-1px, offy=-1px);
          text-decoration: none; }
          html body #wrapper #footer #footer_content a:hover {
            text-decoration: underline; }
.github_icon {
  width: 34px;
  height: 28px;
  background: url("/images/github_icon.png") no-repeat center bottom; }
  .github_icon:hover {
    background-position: center top; }
.twitter_icon {
  width: 27px;
  height: 20px;
  background: url("/images/twitter_icon.png") no-repeat center top; }
  .twitter_icon:hover {
    background-position: center -27px; }